:root {
  --main-color: #afc1ff;
  --dark-gray: #575a7b;
  --white: #ffffff;
  --gray: #b3b6d4;
  --dark-blue: #1f194c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:not(i) {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--main-color);
}

.container {
  background-color: var(--white);
  width: 90vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 80px 50px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}

.search-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.search-box input {
  padding: 5px;
  width: 70%;
  border: none;
  outline: none;
  border-bottom: 3px solid var(--main-color);
  font-size: 16px;
}
.search-box button {
  padding: 15px 0;
  width: 25%;
  background-color: var(--main-color);
  border: none;
  outline: none;
  color: var(--dark-gray);
  border-radius: 5px;
}

.result {
  position: relative;
}
.result h3 {
  font-size: 30px;
  color: var(--dark-blue);
}
.result .word {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.result button {
  background-color: transparent;
  color: var(--main-color);
  border: none;
  outline: none;
  font-size: 18px;
}
.result .details {
  display: flex;
  gap: 10px;
  color: var(--gray);
  margin: 5px 0 20px 0;
  font-size: 14px;
}
.word-meaning {
  color: var(--dark-gray);
}
.word-example {
  color: var(--dark-gray);
  font-style: italic;
  border-left: 5px solid var(--main-color);
  padding-left: 20px;
  margin-top: 30px;
}
